.form-style{
    background-color: #ccc;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    border-radius: 4px;

}

.container-btn-bottom-right {
    position: relative;
}

.btn-bottom-right {

    bottom:   0;
    width: 100%;
  }
  