<main>
    <div class="form-style">
    <div class="display-5">Add Supplier</div>
    <br>
    <form class="row g-3">
        <div class="col-md-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Type the name">
        </div>
        <div class="col-md-3">
          <label for="phoneNumber" class="form-label">Phone number</label>
          <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Type the phone number">
        </div>
        <div class="col-md-3">
          <label for="leadTime" class="form-label">Lead time</label>
          <input type="number" class="form-control" id="leadTime" name="leadTime" placeholder="Type the lead time">
        </div>
        <div class="col-md-3">
          <label for="reviewPeriod" class="form-label">Review period</label>
          <input type="number" class="form-control" id="reviewPeriod" name="reviewPeriod" placeholder="Type the review period">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </form>
    </div>
</main>