.form-style{
    background-color: #ccc;
    padding: 20px;
    border-radius: 4px;
    margin: auto;
}

.border2px{
    border: 2px solid white;
}

.border2pxIncorrect{
    border: 2px solid #D83800;
}


