.form-style{
    background-color: #ccc;
    padding: 20px;
    border-radius: 4px;
    margin: auto;
}

.border2px{
    border: 0.5px solid white;
}

.border2pxIncorrect{
    border: 0.5px solid #D83800;
}

.status-ok{
    color: #5FA764;
}

.status-no-ok{
    color: #DF1C1C;
}

