 <!-- Modal -->
 <div class="modal fade" id="scanModal" tabindex="-1" aria-labelledby="scanModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Scanning...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="interactive" class="viewport">
              <!-- QuaggaJS will populate this element -->
          </div>
          <br>
          Please, focus on the barcode and wait for its detection...
          
          <div class="row" *ngIf="notFound">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              No product was found with the scanned barcode
            </div>
          </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>