<main>
    <div class="form-style">
        <div class="display-5">Stock</div>
        <br>
        <form class="row g-3" [formGroup]="productForm" (ngSubmit)="onSubmit()">


            <div class="col-md-3">
                <label for="product" class="form-label">Product</label>
                <select class="form-select" id="product" name="product" formControlName="product"
                    aria-label="Default select example">
                    <option value="" selected disabled hidden>Select the product</option>
                    <option *ngFor="let product of productList" [ngValue]="product">{{ product.supplier.name }} {{
                        product.model }}</option>
                </select>
            </div>
        

            <div class="col-md-3">
                <label class="form-label">Currently stock</label>
                <div *ngIf="product.value" class="form-control" role="alert">
                    Quantity of units: <b>{{ product.value.stock }}</b>
                </div>
                <div *ngIf="!product.value" class="form-control" role="alert">
                    You've not selected any product
                </div>
            </div>

            <div class="col-md-3">
                <label for="stock" class="form-label">Stock to add</label>
                <input type="number" class="form-control" name="stock" placeholder="Type the stock" formControlName="stock" value="">
            </div>

            <div class="col-md-3">
                <label for="" class="form-label w-100">Select action</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="action" formControlName="action" id="action-add" value="add" checked>
                    <label class="form-check-label" for="action-add">
                      Add
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="action" formControlName="action" id="action-quit" value="quit">
                    <label class="form-check-label" for="action-quit">
                      Quit
                    </label>
              </div>
            </div>

            <div class="col-12">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#scanModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc" viewBox="0 0 16 16">
                        <path d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                      </svg>
                    Scan
                </button>

                <app-product-scan (reading)="showScanned($event)"></app-product-scan>
            </div>


            <hr>
            <div class="col-12">
                <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Add</button>
            </div>
        </form>
    </div>
    <br>
    <div class="row" *ngIf="!product.valid && (product.dirty || product.touched)">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert" *ngIf="product.errors.required">
                Product is required
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!stock.valid && (stock.dirty || stock.touched)">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert" *ngIf="stock.errors.required">
                Stock is required
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="stock.errors.positiveNumbersOnly && !stock.errors.required">
                Stock must contain positive numbers only
            </div> 
        </div>
    </div>

</main>