<main>
    <table class="table table-secondary table-striped text-center">
        <thead>
            <tr>
                <th colspan="6" class="display-4">Supplier list</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone number</th>
              <th scope="col">Lead time</th>
              <th scope="col">Review period</th>
              <th scope="col">Last review</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">...</th>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
              <td>...</td>
            </tr>
            <tr>
                <th scope="row">...</th>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <th scope="row">...</th>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
              </tr>
          </tbody>
    </table>
</main>
