<main>
    <table class="table table-dark table-striped">
        <thead>
            <tr class="text-center">
                <th colspan="6" class="display-4">Supplier list</th>
            </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone number</th>
              <th scope="col">Lead time</th>
              <th scope="col">Review period</th>
              <th scope="col">Last review</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let supplier of supplierList">
              <th scope="row">{{ supplier.id }}</th>
              <td> {{ supplier.name }} </td>
              <td> {{ supplier.phoneNumber }} </td>
              <td> {{ supplier.leadTime }} </td>
              <td> {{ supplier.reviewPeriod }} </td>
              <td> {{ supplier.lastReview }} </td>
            </tr>
          </tbody>
    </table>
</main>
